.onebody {
    background-color: rgb(113, 97, 195);
    padding-top: 70px;
}
.sevenbody {
    background-color:rgb(83, 156, 83);
    padding-top: 70px;
}
.tenbody {
    background-color:rgb(161, 92, 92);
    padding-top: 70px;
}
.ninetyeightbody {
    background-color:rgb(192, 118, 65);
    padding-top: 70px;
}
.xpbody {
    background-color: rgb(139, 89, 139);
    padding-top: 70px;
}
.homebody {
    background-color:rgb(227, 207, 109);
    color:rgb(143, 119, 0);
    text-align: center;
    padding-top: 70px;
}
.carousel-inner > img {
    height: 400px;
    width: 100%;
}
#onetext {
    color: rgb(11, 29, 81);
}
#seventext {
    color: rgb(13, 72, 13);
}
#tentext {
    color: rgb(83, 13, 13);
}
#ninetyeighttext {
    color: rgb(170, 90, 4);
}
#xptext {
    color: rgb(56, 15, 56);
}
.headings {
    text-align: center;
}
.col-sm-6 {
    text-align: center;
}
.col-sm-6 > a > img {
    height: 350px;
    width: 450px;
}
table {
    background-color: rgb(123, 168, 172);
}
th {
    color:rgb(170, 89, 2);
}
td {
    color:rgb(187, 108, 24);
}